logo{
position: absolute;
width: 126px;
height: 84px;
left: 50px;
top: 12px;

}
h1{
position: absolute;
width: 927px;
height: 517px;
left: 51px;
top: 131px;

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 55px;

color: #0070D1;}

h2{
position: absolute;
width: 927px;
height: 517px;
left: 51px;
top: 131px;
margin-top: 200px;
font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 41px;

color: #000000;
}

border{
position: absolute;
width: 948px;
height: 0px;
left: 1146px;
top: 131px;

border: 1px solid #ADADAD;
transform: rotate(89.94deg);}

.xboxbut{
position: absolute;
width: 250px;
color: white;
height: 64px;
left: 51px;
top: 664px;
text-decoration: none;


background: #18B415;
mix-blend-mode: normal;
box-shadow: 0 -3px rgb(53,167,110) inset;
transition: 0.2s;
border-radius: 40px;
font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 55px;
}
.xboxbut:hover { background: #289426; }
.xboxbut:active {
  background: #027400;
  box-shadow: 0 3px rgb(33,147,90) inset;
}

.switchbut{
position: absolute;
width: 250px;
height: 64px;
left: 351px;
top: 664px;

background: #EA3333;
mix-blend-mode: normal;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 40px;}
header{
position: absolute;
width: 1920px;
height: 112px;
left: 0px;
top: 0px;

background: #ECECEC;
}
.menu{
position: absolute;
width: 600px;
height: 51px;
left: 1300px;
top: 36px;
}
.aboutbut{

width: 185px;
height: 51px;
left: 1295px;
top: 36px;

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 41px;
text-decoration: none;
color: #000000;
}

.helpbut{

width: 185px;
height: 51px;
left: 1548px;
top: 36px;
padding-left: 40px;
text-decoration: none;
font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 41px;
color: #000000;
}

.aboutbut:hover{
color: #A9A9A9;

}

.helpbut:hover{
color: #A9A9A9;

}

.logo{
position: absolute;
width: 126px;
height: 84px;
left: 50px;
top: 6px;
}

.xboxtext{
position: absolute;
width: 117px;
height: 49px;
left: 70px;
top: 5px;

font-family: Ubuntu;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 55px;

color: #FFFFFF;
}
.xboxtext:hover{
color: #D0D0D0;
}