<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Мониторинг консолей нового поколения</title>

</head>
<body>
<header>
    <div class="logo">
        <a href="#"><img class="logo" src="{{ url_for('static', filename='img/logo.png') }}" alt="Письма мастера дзен"></a>

    </div>
    <div class="menu">
        <a class="aboutbut" href="#">О проекте</a>
        <a class="helpbut" href="#">Поддержать проект</a>


    </div>
</header>
<div>
    <h1>Не получается купить консоль или видеокарту? Мы знаем, где их искать, и поможем тебе</h1>
    <h2>
        Откуда такая уверенность?
За время работы мы зафиксировали тысячи возможностей купить дефицитные товары в разных магазинах и самыми разными способами. Наша команда знает, куда смотреть, чтобы ничего не пропустить, и круглосуточно следит за поставками. Но главное – у нас есть большое комьюнити, которое не позволит ничего упустить.
    </h2>
</div>
<div>
    <a href="#" class="xboxbut"><center>Xbox</center></a>
    <p class="switchbut">


    </p>
</div>
</body>
</html>